// colors vars

$black: #1b1006;
$white: #ffffff;
$accent: #e89345;
$icons-color: #d49861;
$input-color: #f3efeb;
$default-btn-color: #f3efeb;
$hover-color: #432e1a;
$pressed-color: #26190d;
$pale-text-color: #88715c;
    