@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import './base/index.scss';
@import './constants/index.scss';
@import './components/index.scss';
@import './pages/index.scss';

body {
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', sans-serif;
}

.title-font {
    font-style: normal;
    font-weight: 400;
    font-family: 'Vetrino', sans-serif !important;
}

.wrapper {
    &__container {
        max-width: 1200px;
        margin: 0 auto;
    }

    &-bg {
        background: $white;
        padding: 2em 2em 0 1.25em;

        > div {
            &:last-of-type {
                padding-bottom: 9em;
            }
        }
    }

    &-bar {
        &-content {
            width: 100%;
        }

        &-container {
            display: flex;
            gap: 2em;
        }
    }
}

main {
    height: auto;
    min-height: 60vh;
}
