.real__estate {
    &_subtitle {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2rem;
        color: $black;

        margin-bottom: 1.25em;
    }

    &_btn {
        width: fit-content !important;
        padding: 12px 36px !important;
    }

    &_images {
        margin-bottom: 1.25em;
        display: flex;
        gap: 1.25em;

        .upload {
            &__label {
                max-width: 350px;
                width: 350px;
            }

            &__container {
                max-width: 100%;
            }

            label {
                width: 100%;
            }
        }

        .images__container {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 1.25em;

            .upload {
                max-width: 33%;
                width: 110px;

                &__label {
                    max-width: 110px;
                    height: 74px;
                }
            }
        }
    }

    textarea {
        background: $input-color;
        padding: 0.6em 1.25em;
        border: none;
        border-radius: 0;

        margin-bottom: 2em;

        box-shadow: none !important;

        font-size: 0.9rem;
        line-height: 1.25rem;
        color: $black;

        &::placeholder {
            font-size: 0.9rem;
            line-height: 1.25rem;
            color: $pale-text-color;
        }
    }

    &_label {
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.6rem;
        color: $black;

        margin-bottom: 1.25em;
    }

    &_dropdown {
        background: $input-color;
        height: 40px;

        .ant-select-selection-item {
            font-size: 0.9rem;
            line-height: 1.25rem;
            color: $pale-text-color;
        }
    }

    &_container {
        display: flex;
        gap: 2em;
    }

    &_item {
        width: 50%;
    }
}

.form_item-checkbox {
    margin-top: 1em;
}
