.personal {
    &__form {
        &_container {
            display: flex;
            align-items: start;
            justify-content: space-between;
            gap: 2em;
        }

        &_item {
            width: 100%;
        }

        &_btns {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}
