.about {
    padding: 10em 0;
    &__title {
        font-size: 3.125rem;
        line-height: 3.75rem;
        text-align: center;
        color: $black;

        margin-bottom: 1.6em;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;


        &_item {
            width: 50%;

            &:first-child {
                position: relative;
            }

            img {
                width: 100%;
                max-width: 400px;
                max-height: 500px;
                height: 100%;
                object-fit: cover;
                border: 2px solid #d49861;

                z-index: 2;
            }
        }
    }

    &__subtitle {
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.4rem;
        color: $black;

        margin-bottom: 1em;
    }

    &__text {
        font-size: 1.125rem;
        line-height: 1.6rem;
        color: $black;

        margin-bottom: 1.8em;
    }

    &__icons {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1em;
        }

        &_text {
            max-width: 150px;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.25rem;
            color: $black;
        }
    }

    &__block {
        width: 100%;
        max-width: 400px;
        max-height: 500px;
        height: 100%;
        background: $pale-text-color;

        position: absolute;
        bottom: -34px;
        left: 54px;
        z-index: -1;
    }
}
