.btn {
    cursor: pointer;
    border: none;

    &-ghost {
        border: 1px solid $pale-text-color;
        background: transparent !important;
        color: $pale-text-color !important;
    }
}
