.dropdown {
    .ant-select-selector {
        background-color: transparent !important;
        border: none !important;
        box-shadow: none !important;
        outline: none;
    }
}

.ant-select-dropdown {
    margin-top: 0.5em;
    border-radius: 0 !important;
    background: #f8f7f7 !important;
    box-shadow: 0px 7px 17px -4px rgba(0, 0, 0, 0.2) !important;

    .ant-select-item {
        background-color: transparent !important;

        &:hover {
            background-color: #f3eee9 !important;
        }

        &[aria-selected='true'] {
            background-color: #d49861 !important;

            color: $white !important;
            font-weight: normal !important;
        }

        height: 40px;
        align-items: center;
        
        border-radius: 0 !important;
        box-shadow: none !important;
    }
}
