.main__footer_hero {
    background: url('../../../assets/images/main-hero/main_hero.png') 100% 100% no-repeat;
    background-size: cover;

    height: 450px;
}

.hero {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-size: 3.9rem;
        line-height: 4.6rem;
        color: $white;

        margin: 0 0 4px;
    }

    &__text {
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 2rem;
        color: $white;

        margin: 0;
    }

    &__form {
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
        width: 450px;
        padding: 2.6em 3.2em;

        &_item {
            margin-bottom: 2em !important;

            .ant-form-item-explain-error {
                background: $default-btn-color;
                border-radius: 2px;
                margin: 0.5em 0;
                padding: 5px 10px;
                font-size: 0.75rem;
                line-height: 1rem;
                color: #e70c0c;
            }
        }

        .ant-form-item {
            margin: 0;
        }

        .ant-input-affix-wrapper {
            width: 100%;
            height: 40px !important;
            padding: 0.6em 1.25em !important;
            border: none !important;
            border-radius: 0 !important;

            input {
                height: auto !important;
            }
        }

        input {
            width: 100%;
            height: 40px;
            padding: 0.6em 1.25em;
            border: none;
            border-radius: 0;

            box-shadow: none !important;

            font-size: 0.9rem;
            line-height: 1.25rem;
            color: $pale-text-color;

            &::placeholder {
                font-size: 0.9rem;
                line-height: 1.25rem;
                color: $pale-text-color;
            }
        }

        button {
            background: #2f1f11;
            width: 100%;
            height: 40px;
            padding: 10px 0;

            color: $white;
            font-size: 0.9rem;
        }
    }
}

.error {
    &__message {
        background: $default-btn-color;
        border-radius: 2px;
        margin: 0.5em 0;
        padding: 5px 10px;
        font-size: 0.75rem;
        font-weight: normal;
        line-height: 1rem;
        color: #e70c0c;

        text-align: center;
    }
}

.ant-form-item-explain-error {
    background: $default-btn-color;
    border-radius: 2px;
    margin: 0.5em 0;
    padding: 5px 10px;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #e70c0c;
}
