.footer {
    background: #0b0703;
    padding: 4.8em 0;
    height: auto;
    min-height: 20vh;

    &__container {
        display: flex;
        align-items: center;
        gap: 127px;

        a {
            color: $white;
            filter: none;
        }
    }
}
