.form {
    &_item {
        margin-bottom: 2em !important;

        .ant-form-item-explain-error {
            background: transparent;
            border-radius: 2px;
            margin: 0.5em 0;
            padding: 5px 10px;
            font-size: 0.75rem;
            line-height: 1rem;
            color: #e70c0c;
        }
    }

    .ant-form-item {
        margin: 0;
    }

    .ant-input-affix-wrapper {
        width: 100%;
        height: 40px !important;
        padding: 0.6em 1.25em !important;
        border: none !important;
        background: $input-color;
        border-radius: 0 !important;

        input {
            background: transparent;
            height: auto !important;
        }
    }

    input {
        background: $input-color;
        width: 100%;
        height: 40px;
        padding: 0.6em 1.25em;
        border: none;
        border-radius: 0;

        box-shadow: none !important;

        font-size: 0.9rem;
        line-height: 1.25rem;
        color: $black;

        &::placeholder {
            font-size: 0.9rem;
            line-height: 1.25rem;
            color: $pale-text-color;
        }
    }

    button {
        background: #2f1f11;
        width: 100%;
        height: 40px;
        padding: 10px 0;

        color: $white;
        font-size: 0.9rem;
    }
}
