.header {
    min-height: 20vh;
    height: auto;
    padding: 2em 0;
    margin-bottom: 40px;

    &__logout {
        &_btn {
            border: none;
            background: transparent;
            cursor: pointer;
        }
    }

    &__profile {
        cursor: pointer;
        object-fit: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    &__container {
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_footer {
            margin-left: 2em;
            display: flex;
            align-items: center;
            gap: 1em;
        }

        &_logolink {
            text-decoration: none;
            margin-right: 3.5em;

            img {
                vertical-align: middle;
            }
        }

        &_link {
            text-decoration: none;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.2rem;
            color: $black;
            margin-right: 3.2em;

            &:last-child {
                margin-right: 0;
            }
        }

        &_links {
            display: flex;
            align-items: center;
        }

        &_btn {
            background: #2f1f11;
            width: 86px;
            line-height: 34px;
            font-weight: 500;
            font-size: 0.9rem;
            color: $white;
            transition: all ease 0.2s;

            &:active {
                border: none;
                background: $pressed-color;
                color: $white;
            }
        }
    }
}

.main__header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    .header__container {
        &_link {
            color: $white;
        }

        &_btn {
            backdrop-filter: blur(10px);
            background: rgba(255, 255, 255, 0.17);
            border: 1px solid $white !important;
        }
    }
}
