.main__slider {
    height: 100%;
    width: 100%;
    transition: 0.4s ease-in-out;
    background-size: cover;
    background-position: 100% 100%;
    background-size: cover;
    background-color: #d9d9d9;
    background-blend-mode: multiply;

    &_container {
        height: 100%;
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &_item {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .item_mt {
            margin-bottom: 2.8em;
        }

        &:first-child {
            width: 85%;
            justify-content: space-around;
        }

        &:last-child {
            width: 15%;
            align-items: flex-end;
        }
    }

    &_title {
        max-width: 650px;
        font-weight: 400;
        font-size: 3.8rem;
        line-height: 4.6rem;
        color: $white;
        margin-bottom: 0.4em;
    }

    &_text {
        max-width: 360px;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.4rem;
        color: $white;
    }

    &_count {
        font-weight: 400;
        color: $white;

        span {
            &:first-child {
                font-size: 3.8rem;
                line-height: 4.6rem;
            }

            &:last-child {
                display: inline-block;
                vertical-align: top;
                margin-top: 0.5em;
                font-size: 1.25rem;
                line-height: 1.5rem;
            }
        }
    }

    &_controls {
        button {
            border: none;
            background: transparent;
            cursor: pointer;

            &:first-child {
                margin-right: 1.2em;
            }
        }
    }
}
