.filters {
    padding: 2.5em 2.3em;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    width: 100%;

    &__container {
        width: 100%;
        max-width: 950px;
        display: flex;
        align-items: center;
        gap: 1.25em;

        &_list {
            ul {
                border-radius: 0 !important;

                li {
                    &:hover {
                        border-radius: 0 !important;
                        background-color: #ede7e2 !important;
                    }

                    &:active {
                        border-radius: 0 !important;
                        background-color: $icons-color;
                    }
                }
            }
        }

        &_btn {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            width: 139px;
            line-height: 2.5rem;
            background: #2f1f11;
            color: $white;

            span {
                color: $white;
                margin-right: 0.2em;
            }
        }

        &_select {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 170px;
            width: 100%;
            background: #f8f7f7;
            height: 40px;

            button {
                width: auto;
                height: 100%;
                border: none;
                background: transparent;
                outline: none;

                &:active {
                    border: none;
                    outline: none;
                }
            }

            span {
                font-weight: 400;
                font-size: 0.87rem;
                line-height: 1.25rem;
                color: $black;
            }
        }
    }
}
