.sidebar {
    min-height: 50vh;
    height: auto;
    padding: 1em;
    border-right: 1px solid #c1a78f;

    &__item {
        margin-bottom: 0.5em;

        &-active {
            .sidebar__item_btn {
                transform: rotate(180deg);
            }
        }

        .active {
            background: #f3eee9;

            .sidebar__item_label {
                color: #d49861;
            }
        }

        &_head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0 2.8em;
            text-decoration: none;

            padding: 12px 14px;

            &-flex {
                display: flex;
                align-items: center;
            }

            svg {
                margin-right: 0.8em;
            }
        }

        &_list {
            margin: 0;
            padding-left: 0;
            background: #f8f7f7;
            &-item {
                cursor: pointer;
                list-style: none;
                display: block;
                width: 100%;
                margin-bottom: 4px;
                padding: 14px 50px;

                span {
                    font-weight: 400;
                    font-size: 0.9rem;
                    line-height: 100%;
                    color: $black;
                }

                &:hover {
                    background: #f3eee9;
                }
            }
        }

        &_label {
            font-weight: 400;
            font-size: 0.9rem;
            line-height: 1.25em;
            color: $black;
        }

        &_btn {
            transition: all 0.3s ease;
            display: flex;
            align-items: center;
            cursor: pointer;
            border: none;
            background: transparent;
        }

        &_body {
            transition: all 0.3s ease;
            overflow: hidden;
        }
    }
}
