.upload {
    &__container {
        max-width: 260px;
        width: fit-content;
        height: fit-content;
        transition: all 0.3s ease-in-out;
        position: relative;

        &_text {
            margin-top: 0.8em;

            max-width: 275px;
            font-weight: 400;
            font-size: 0.85rem;
            line-height: 1.25rem;
            text-align: center;
            color: $pale-text-color;
        }

        &:hover {
            background: rgba(0, 0, 0, 1);

            img {
                opacity: 0.3 !important;
            }

            .upload__container_btn {
                display: block;
                height: 50px;
                width: 50px;
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 100;
                transform: translate(-50%, -50%);

                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        img {
            transition: all 0.3s ease-in-out;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &_btn {
            display: none;
            border: none !important;
            cursor: pointer;
            background: transparent !important;

            svg {
                width: 60px;
                height: 60px;
            }
        }
    }

    &__label {
        cursor: pointer;
        max-width: 260px;
        height: 230px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background: $default-btn-color;

        .ant-upload {
            display: block;
            width: 100%;
            height: 100%;
            span {
                width: 100%;
                height: 100%;

                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
            }
        }
    }

    &__input {
        display: none !important;
    }
}
